<div class="container">
  <h1>Pipe operators</h1>
  <h2>recursos para trabalhar com string nos templates - dado | algumPipeOperator -</h2>

  <p>{{ "Algum texto aqui" | uppercase}}</p>
  <P>{{ someTitle | titlecase }}</P>
  <p>{{ today | date: "fullDate" }}</p>
  <p>{{ today | date: "d/M/y" }}</p>
  <br>
  <br>

  <p>criando meu primeiro piper fazendo o calculo da raiz quadrada</p>
  <p>Raiz quadrada de 25 é: {{ 25 | sqrt}}</p>
  <p>Raiz quadrada de 100 é: {{ 100 | sqrt}}</p>
  <p>Raiz quadrada de 175068 é: {{ 175068 | sqrt}}</p>
</div>
